@import "../variables.scss";

@mixin focus {
  outline: none;

  &:focus:not(:disabled) {
    box-shadow: $basic-box-shadow;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible:not(:disabled) {
    box-shadow: $basic-box-shadow;
  }
}

@mixin disabled {
  background-color: $white-ash;
  border-color: $light-gray;
  cursor: default;
  pointer-events: none;
}
