// COLORS

$aqua: #00ffff;
$dark-grey: #3b3b3b;
$grey-low-bay: #97a1bc;
$white-ash: #f7f7f7;
$light-gray: #e5e5e5;

// FONT FAMILY

$font-family-roboto-mono: "Roboto Mono", monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-bold: 700;

// BOX-SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;
